/* - Светлая тема - */

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 90px auto 100px;
  margin: 0;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  background-color: #292B2C;
}

/* Шапка сайта */
header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 1%;
  opacity: 0.8;
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #292B2C;
}

.heading {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}
.logo  {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 20%;
}

.phone-number{
  grid-column: 10/12;
  grid-row: 2/3;
  justify-self: right;
  font-size: 16px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #F5F5F5;
}

.menu{
  grid-column: 12/13;
  grid-row: 2/3;
  padding-right: 20%;
}

/* Контент сайта */

.page-main {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  justify-items: center;
  align-items: center;
}

/* Блок с неоновой вывеской */
.neonBlock {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #292B2C;
/*
  background: url("img/Benefits/BPphoto.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 */
}

.neonTitle {
  grid-column: 5/9;
  grid-row: 4/9;
  font-family: Screpka;
  font-style: normal;
  font-weight: 300;
  font-size: 309px;
  line-height: 265px;
  /* identical to box height, or 86% */

  justify-self: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
  color: #FF9435;
  text-shadow: 8px 12px 5px rgba(174, 171, 171, 0.25), 0px 0px 30px rgba(254, 147, 52, 0.4);
}

.topUsText{
  grid-column: 3/11;
  grid-row: 9/11;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;

  justify-self: center;
  align-self: center;
  text-align: center;
  color: #5D5D5D;
}

/*Блок с преимуществами*/

.benefitBlock{
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 1fr 0.15fr;
  grid-template-rows: 4fr 8fr 4fr 6fr 6fr  6fr 6fr;
}

.benefitBlockTitle{
  grid-column: 3/6;
  grid-row: 1/2;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF9435;
  color: #f2f4f6;
  -webkit-animation: benefitBlockTitle 4s infinite linear;
  animation: benefitBlockTitle 4s infinite linear;
}

@-webkit-keyframes benefitBlockTitle {
  0%{-webkit-transform: translate(0, 0);}
  100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes benefitBlockTitle{
  0%{transform: translate(0, 0);}
  100%{transform: translate(100%, 0)}
}

.fullBenefitImage {
  grid-column: 2/3;
  grid-row: 2/3;
}

.lineTDBenefit {
  grid-column: 3/4;
  grid-row: 2/7;
  align-self: center;
}

.fullBenefitText{
  grid-column: 2/3;
  grid-row: 1/2;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5D5D5D;
  text-align: center;
}

.speedBenefitImage {
  grid-column: -2/-3;
  grid-row: 3/5;
}

.speedBenefitText{
  grid-column: -2/-3;
  grid-row: 2/4;


  font-family: Helvetica;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5D5D5D;
  text-align: center;
}

.experienceBenefitImage {
  grid-column: 2/3;
  grid-row: 4/6;
}

.experienceBenefitText{
  grid-column: 2/3;
  grid-row: 3/5;


  font-family: Helvetica;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5D5D5D;
  text-align: center;
}

.uniqueBenefitImage {
  grid-column: -2/-3;
  grid-row: 5/7;
}

.uniqueBenefitText{
  grid-column: -2/-3;
  grid-row: 4/6;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5D5D5D;
  text-align: center;
}

.accuracyBenefitImage {
  grid-column: 2/3;
  grid-row: 6/8;
}

.accuracyBenefitText{
  grid-column: 2/3;
  grid-row: 5/7;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5D5D5D;
  text-align: center;
}

/* Блок с проектами */
.projectBlock {
  grid-column: 1/-1;
  grid-row: 8/16;
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 1fr 0.15fr;
  grid-template-rows: 4fr 8fr 4fr 6fr 6fr 6fr 6fr;
}

.projectBlockTitle{
  grid-column: 3/6;
  grid-row: 1/2;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF9435;
  color: #f2f4f6;
  -webkit-animation: projectBlockTitle 4s infinite linear;
  animation: projectBlockTitle 4s infinite linear;
}

@-webkit-keyframes projectBlockTitle {
  0%{-webkit-transform: translate(0, 0);}
  100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes projectBlockTitle{
  0%{transform: translate(0, 0);}
  100%{transform: translate(100%, 0)}
}

/* Блок с клиентами */
.clientBlock {

}
/* Блок с портфолио */
.portfolioBlock {

}
/* Блок с с обратной связью */
.formBlock {

}

/* Подвал  */
.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/-1;
  grid-row: 3/4;
  justify-items: center;
  align-items: center;
  background: #F4F4F4;
}

.page-footer a {
  grid-row: 2/3;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  align-items: center;
  text-align: center;
  color: #292B2C;
}
