/*Блок с преимуществами*/


.benefitBlock{
  height: 1752px;
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                      1fr 1fr 1fr 1fr 1fr 1fr;
 column-gap: 10px;
  font-style: normal;
  font-weight: 280;
  font-size: 20px;
  color: #5D5D5D;
}
.article{
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: right;
  justify-self: end;
  align-self: start;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF9435;
  color: #FFFFFF;
}
.benefitBlockTitleOrange {
  grid-column: -2/-11;
  grid-row: 2/3;
  justify-items: end;
}
/* -webkit-animation: benefitBlockTitle 4s infinite linear;
animation: benefitBlockTitle 4s infinite linear;
}

@-webkit-keyframes benefitBlockTitle {
0%{-webkit-transform: translate(0, 0);}
100%{-webkit-transform: translate(0, 0);}
}
@keyframes benefitBlockTitle{
0%{transform: translate(0, 0);}
100%{transform: translate(0, 0)}
}  */

/*.benefitBlockTitleBlack {
  grid-column: 11/20;
  grid-row: 3/4;

  font-family: Helvetica;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: right;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #292B2C;
  color: #FFFFFF;
}
 */
.screpkaTitle{
  font-family: Screpka;
  font-style: normal;
  font-size: 52px;
  color:#FF9435;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #FF9435;
  letter-spacing: 0.05em;
  text-shadow: 0 0 8px rgba(255, 148, 53, 0.1);
}

.fullBenefitTitle {
  grid-column: 4/9;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
}

.fullBenefitImage {
  grid-column: 4/9;
  grid-row: 4/9;
  align-self: center;
  justify-self: start;
}

.fullBenefitText{
  grid-column: 4/9;
  grid-row: 9/10;
  justify-self: left;
  align-self: center;
}

.speedBenefitTitle {
  grid-column: 13/18;
  grid-row: 7/8;
  justify-self: end;
  align-self: center;
}

.speedBenefitImage {
  grid-column: 13/18;
  grid-row: 8/12;
  align-self: center;
  justify-self: end;
}

.speedBenefitText{
  grid-column: 13/18;
  grid-row: 12/13;
  font-style: normal;
  text-align: right;
  justify-self: right;
  align-self: center;
}

.experienceBenefitTitle {
  grid-column: 4/9;
  grid-row: 11/12;
  justify-self: left;
  align-self: center;
}

.experienceBenefitImage {
  grid-column: 4/9;
  grid-row: 12/17;
  align-self: center;
  justify-self: start;
}

.experienceBenefitText{
  grid-column: 4/9;
  grid-row: 17/18;
  align-self: center;
  justify-self: start;
}

.uniqueBenefitTitle {
  grid-column: 13/18;
  grid-row: 14/15;
  justify-self: end;
  align-self: center;
}

.uniqueBenefitImage {
  grid-column: 13/18;
  grid-row: 15/19;
  align-self: center;
  justify-self: end;
}

.uniqueBenefitText{
  grid-column: 13/18;
  grid-row: 19/20;
  text-align: right;
  justify-self: end;
  align-self: center;
}

.accuracyBenefitTitle {
  grid-column: 4/9;
  grid-row: 19/20;
  justify-self: start;
  align-self: center;
}

.accuracyBenefitImage {
  grid-column: 4/9;
  grid-row: 20/25;
  align-self: center;
  justify-self: start;
}

.accuracyBenefitText{
  grid-column: 4/9;
  grid-row: 25/26;
  justify-self: start;
  align-self: center;
}

.lineTDBenefit {
  grid-column: 9/13;
  grid-row: 6/22;
  align-self: center;
  justify-self: center;
}
