/* Блок с клиентами */
.clientBlock {
  height: 742px;
  grid-column: 1/-1;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFFFF;
}

.clientBlockTitle{
  grid-column: 2/10;
  grid-row: 2/3;
  justify-self: start;
  z-index: 10;
}

