/* Блок с клиентами */
.clientBlock {
  height: 742px;
  grid-column: 1/-1;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFFFF;
}

.clientBlockTitle{
  grid-column: 2/10;
  grid-row: 2/3;
  justify-self: start;
}

.philipsLogo{
  grid-column: 3/6;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.duracellLogo{
  grid-column: 7/11;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.lorealLogo{
  grid-column: 11/15;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.greenwayLogo{
  grid-column: 15/19;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.bpLogo{
  grid-column: 3/6;
  grid-row: 6/10;
  justify-self: center;
  align-self: center;
}

.a_propertyLogo{
  grid-column: 6/10;
  grid-row: 6/10;
  justify-self: center;
  align-self: center;
}

.empireLogo{
  grid-column: 10/12;
  grid-row: 6/10;
  justify-self: center;
  align-self: center;
}

.rocheLogo{
  grid-column: 13/15;
  grid-row: 6/10;
  justify-self: center;
  align-self: center;
}

.elgaugolLogo{
  grid-column: 16/18;
  grid-row: 6/10;
  justify-self: center;
  align-self: center;
}

.s7AirlinesLogo{
  grid-column: 3/6;
  grid-row: -2/-5;
  justify-self: center;
  align-self: center;
}

.yotaLogo{
  grid-column: 7/9;
  grid-row: -2/-5;
  justify-self: center;
  align-self: center;
}

.gloraxLogo{
  grid-column: 10/12;
  grid-row: -2/-5;
  justify-self: center;
  align-self: center;
}

.hyveLogo{
  grid-column: 13/15;
  grid-row: -2/-5;
  justify-self: center;
  align-self: center;
}

.medLogo{
  grid-column: 16/18;
  grid-row: -2/-5;
  justify-self: center;
  align-self: center;
}
