/* Блок с с обратной связью */
.formBlock {
  height: 742px;
  grid-column: 1/-1;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFFFF;
}

.formBlockTitle{
  grid-column: -2/-10;
  grid-row: 2/3;
  justify-self: end;
}

.inputArea {
  background-color: white;
  border: 2px solid white;
  border-bottom: 2px solid #FF9435;
  border-radius: 2px;
  font-size: 22px;
}
.inputArea::placeholder {
  color: #BBBBBB;
}

.inputArea:focus,
.inputArea:hover,
.inputArea:active
{
  background-color: white;
  border: 1px solid #cccccc;
  border-bottom: 2px solid #FF9435;
  border-radius: 2px 2px 0 0;
}

.inputAreaLarge{
  height: 144px;
  width: 98%;
  padding: 8px 12px 8px 12px;
}

.inputAreaSmall{
  height: 48px;
  width: 98%;
  padding: 0 12px 0 12px;
}

.inputArticle{
  font-size: 22px;
  font-weight: bold;
  color: #4F4F4F;
}

.agreeText{
  font-size: 16px;
  font-weight: lighter;
  color: #BBBBBB;
}

.fileButton{
  grid-column: 4/7;
  grid-row: -4/-5;
  width: 380px;
  align-self: center;
  justify-self: start;
  font-size: 14px;
  color: #d0d0d0;
  font-family: Montserrat;
}

.submitButton{
  grid-column: -4/-7;
  grid-row: -3/-4;
  align-self: end;
  justify-self: end;
  background-color: white;
  border: white;
  border-bottom: 2px solid #FF9435;
  border-radius: 2px;
  color: #4F4F4F;
  font-size: 22px;
  font-weight: bold;
  padding: 8px;
}

.mainForm {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
/* Position */
.formContactText {
  grid-column: 4/8;
  grid-row: 4/5;
  align-self: start;
  justify-self: start;
}

.formQuestionText {
  grid-column: 4/8;
  grid-row: 9/10;
  align-self: start;
  justify-self: start;
}

.formPoliticText {
  grid-column: -7/-16;
  grid-row: -3/-4;
  align-self: end;
  justify-self: end;
  text-align: end;
}

.inputName {
  grid-column: 4/10;
  grid-row: 5/6;
  align-self: center;
  justify-self: start;
}

.inputPhone {
  grid-column: 4/10;
  grid-row: 7/8;
  align-self: center;
  justify-self: start;
}

.inputEmail{
  grid-column: -4/-11;
  grid-row: 7/8;
  align-self: center;
  justify-self: end;
}

.inputQuestion{
  grid-column: 4/-4;
  grid-row: -5/-6;
  align-self: center;
  justify-self: end;
}

.customInputFile::-webkit-file-upload-button {
  margin-left: -150px;
  font-size: 18px;
  padding-left: 12px;
  visibility: hidden;
  margin-right: 15px;
}
.customInputFile::before {
  content: 'Прикрепить файл';
  display: inline-block;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 18px;
  padding-left: 12px;
  background-color: white;
  color: #BBBBBB;
}
.customInputFile:hover::before {
  color: #9b9b9b;
}

input {
  font-family: Montserrat;
}
