/* Шапка сайта */
header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 54px 54px;
  grid-template-rows: 30px 30px 30px auto;
  align-items: center;
  opacity: 0.96;
  backdrop-filter: blur(15px);
  background-color: #292B2C;
  z-index: 15;
}

.heading {
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.logo  {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 5%;

}

.headerNumber{
  grid-column: -3/-6;
  grid-row: 2/3;
  justify-self: end;
  font-size: 18px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #F5F5F5;
  padding-right: 10%;
  text-decoration-line: none;
}

.posMenu{
  grid-column: -2/-3;
  grid-row: 2/3;
  justify-self: end;
}

.openBurgerMenu {
  height: 20px;
  width: 44px;
  border: #292B2C;
  border-bottom: white 2px solid;
  border-top: white 2px solid;
  background-color: #292B2C;
  cursor: pointer;
}

.openBurgerMenu:active,
.openBurgerMenu:hover,
.openBurgerMenu:focus{
  height: 26px;
  width: 44px;
  border: #292B2C;
  border-bottom: white 2px solid;
  border-top: white 2px solid;
  background-color: #292B2C;
}


