.projectSliderLogo {
  height: 742px;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFFFF;
  border-radius: 18px;
  justify-self: center;
  align-self: start;
}
/*
.projectSliderElementLogo img {
  grid-row: 1/-1;
  grid-column: 3/-1;
  justify-self: end;
  align-self: center;
  border-radius: 18px;
  object-fit: cover
 }
*/
.projectSliderScreenLogo {
  list-style-type: none;
  position: relative;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.projectSliderElementLogo {
  transition: opacity 0.2s ease-in;
  position: absolute;
  height: 742px;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-self: center;
  align-self: center;
  border-radius: 18px;
  opacity: 0;
  z-index: 2;
}

.projectSliderDotLeftLogo {
  grid-column: 1/4;
  grid-row: 1/-1;
  background-image: url("../img/CircleLeftBlack.png");
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  justify-self: center;
  align-self: center;
  opacity: 0.4;
  z-index: 25;
}

.projectSliderDotRightLogo {
  grid-column: -1/-4;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
  background: url("../img/CircleRightBlack.png") no-repeat;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  opacity: 0.4;
  z-index: 25;
}

.projectSliderDotLeftLogo:hover {
  opacity: 0.8;
}

.projectSliderDotRightLogo:hover {
  opacity: 0.8;
}

.projectSliderDotsCenterLogo {
  grid-column: 3/-1;
  grid-row: -1/-2;
  justify-self: center;
  align-self: end;
  padding-bottom: 20px;
  z-index: 15;
  display: none;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}


.philipsLogo{
  grid-column: 4/7;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.duracellLogo{
  grid-column: 8/11;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.lorealLogo{
  grid-column: 12/15;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.greenwayLogo{
  grid-column: 15/19;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.bpLogo{
  grid-column: 4/7;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.a_propertyLogo{
  grid-column: 7/10;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.empireLogo{
  grid-column: 10/13;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.rocheLogo{
  grid-column: 13/16;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.elgaugolLogo{
  grid-column: 16/19;
  grid-row: 4/7;
  justify-self: center;
  align-self: center;
}

.s7AirlinesLogo{
  grid-column: 4/7;
  grid-row: 7/10;
  justify-self: center;
  align-self: center;
}

.yotaLogo{
  grid-column: 7/10;
  grid-row: 7/10;
  justify-self: center;
  align-self: center;
}

.gloraxLogo{
  grid-column: 10/13;
  grid-row: 7/10;
  justify-self: center;
  align-self: center;
}

.hyveLogo{
  grid-column: 13/16;
  grid-row: 7/10;
  justify-self: center;
  align-self: center;
}

.medLogo{
  grid-column: 16/19;
  grid-row: 7/10;
  justify-self: center;
  align-self: center;
}

