/* Блок с проектами */
.projectBlock {
  height: 1482px;
  grid-column: 1/-1;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #292B2C;
  border-radius: 12px;
}

.projectBlockTitle{
  grid-column: -2/-10;
  grid-row: 2/3;
  color: #292B2C;
  justify-self: end;
}

.arrowLeft{
  grid-column: 5/9;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  padding-right: 150px;
}

.renderTitle{
  grid-column: 5/9;
  grid-row: 3/4;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: end;
  color: #FFFFFF;
  align-self: center;
}

.resultTitle{
  grid-column: 10/14;
  grid-row: 3/4;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: start;
  color: #FFFFFF;
  align-self: center;
}

.arrowRight{
  grid-column: 10/14;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
  padding-left: 150px;
}

.projectText{
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  text-align: end;
  justify-self: end;
  align-self: center;
  color: #FFFFFF;
}
.projectText:active,
.projectText:focus,
.projectText:hover{
  font-weight: bold;
  text-shadow: 2px 6px 16px rgba(255, 255, 255, 0.15);
}

.britishPetroleumText{
  grid-column: -3/-5;
  grid-row: 4/5;
}

.elgaugolText{
  grid-column: -3/-5;
  grid-row: 5/6;
}

.gloraxText{
  grid-column: -3/-5;
  grid-row: 7/8;
}

.eatMeatText{
  grid-column: -3/-5;
  grid-row: 6/7;
}


.dashedLineProjectBlock{
  grid-column: -1/-6;
  grid-row: 11/20;
  justify-self: end;
  align-self: start;
}

.projectNumbers{
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  justify-self: center;
  align-self: center;
}


.circleLeftRenderResult{
  grid-column: 6/7;
  grid-row: -8/-9;
  justify-self: center;
  align-self: center;
}

.circleRightRenderResult{
  grid-column: -4/-5;
  grid-row: -8/-9;
  justify-self: center;
  align-self: center;
}

.ourContactText{
  text-decoration: none;
  grid-column: -2/-3;
  grid-row: -6/-10;
  writing-mode: vertical-rl;
  justify-self: start;
  align-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #FFFFFF;

}
.ourContactText:hover {
  text-shadow: 4px 6px 22px rgba(255, 255, 255, 0.25);
}

.arrowOurContacts{
  grid-column: -2/-3;
  grid-row: -3/-6;
  justify-self: start;
  align-self: center;
}



.beforeAfter {
  margin-top: 14px;
  width: 900px;
  height: 512px;
  grid-column: 6/13;
  grid-row: 4/14;
  background-color: #FF9435;
  border-radius: 12px;
  justify-self: center;
  align-self: start;
}

.radius {
  border-radius: 12px;
}

.nullProject {
  visibility: hidden;
}

.activeText {
  font-weight: bold;
  text-shadow: 2px 6px 16px rgba(255, 255, 255, 0.15);
}

.britishPetroleumBefore {
  background-image: url("img/Projects/AfterBefore/BP_before.jpg");
}
